{% extends sonata_block.templates.block_base %}

{% block block %}
    {% for group in groups %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ group.label|trans({}, group.label) }}</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tbody>
                    {% for label, admin in group.items %}
                        {% set displayAdmin = true %}
                        {% if admin.roles is defined %}
                            {% set displayAdmin = (admin.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                            {% for role in admin.roles if not displayAdmin %}
                                {% set displayAdmin = is_granted(role) %}
                            {% endfor %}
                        {% endif %}
                        {% if displayAdmin %}
                            <tr>
                                <td class="sonata-ba-list-label" width="40%">
                                    {{ label|trans() }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        {% for action in admin.actions %}
                                            {% set displayAct = (action.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                            {% for role in action.roles if not displayAct %}
                                                {% set displayAct = is_granted(role) %}
                                            {% endfor %}
                                            {% if displayAct %}
                                                {% set routingType = action.routingType is defined  ? action.routingType : 'local' %}
                                                <a class="btn btn-link btn-flat"
                                                   target="{{ action.target is defined  ? action.target : '_self' }}"
                                                   href="{{ routingType == 'local' ? path(action.routing) : action.routing }}">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                    {{ action.label|trans() }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}


{% endblock %}